@import "fonts";
@import "mixins";

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: $accent-color;
}

h1, h2 {
    font-family: 'Nuino Sans', sans-serif;
}

section, main, header, footer {
    width: 100%;
}

section {
    background-color: $white-color;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 3rem 30px;
    height: inherit;
}

.flex {
    display: flex;
}

%content__block {
    padding: 4rem;
    border: 1px solid $hr-color;
    border-radius: 10px;
    margin-top: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
}


