@import "normalize";
@import "fonts";
@import "variables";
// @import "vendor";
@import "global";
@import "overall";
@import "mixins";

.header {
    position: fixed;
    background-color: $white-color;
    z-index: 999;
    .container {
        @include flex(space-between, center);
        border-bottom: 1px solid $hr-color;
    }

}

.nav__item + .nav__item {
    margin-left: 6rem;
}

.nav__link {
    color: $accent-color;
    font-weight: 500;
    transition: all 0.2s;

    &:hover {
        text-shadow: 4px 4px 2px rgba($black-color, 0.3);
    }
}

.btn-block__header {
    @include btn($accent-color, $white-color, 5px, $accent-color);

    &--accent {
        @include btn($white-color, $accent-color, 5px, $accent-color);
        margin-left: 1.8rem;
    }
}

.burger {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &__line {
        position: relative;
        @extend %burger-lines;


        &:after {
            @extend %burger-before-after, %burger-lines;
            bottom: -10px;
        }

        &:before {
            @extend %burger-before-after, %burger-lines;
            top: -10px;
        }

    }

    &--active &__line {
        transform: translateX(-30px);
        background: transparent;

        &:after {
            transform: rotate(-45deg) translate(28px, 14px);
        }

        &:before {
            transform: rotate(45deg) translate(28px, -14px);
        }
    }
}

.banner {
    min-height: 600px;
    height: 100vh;

    .container {
        height: 100%;
        align-items: center;
        justify-content: space-between;
    }

    &__content {
        width: 480px;
    }
}

.title {
    font-size: 4rem;
    line-height: 5.2rem;
    letter-spacing: 0.2px;
    margin-bottom: 1rem;

    &__description {
        font-size: 1.8rem;
        line-height: 2.8rem;
        margin-bottom: 4.5rem;
        color: $description-txt-color;

        &--darken {
            color: $plan-description-color;
        }
    }
}

.head {
    font-size: 5.6rem;
    line-height: 6.8rem;

    &__description {
        font-size: 1.9rem;
        line-height: 3.6rem;
        margin-top: 2rem;
    }
}

.btn-block__banner {
    @include btn($inverse-color, $white-color, 5px, $inverse-color);
    margin-left: 1.8rem;

    &--accent {
        @include btn($white-color, $inverse-color, 5px, $inverse-color);
    }
}


.slider {
    width: 50%;
    height: 42rem;
    margin-left: 3rem;
    
    position: relative;
    &__inner {
        width: 100%;
        height: inherit;
        border-radius: 5px;
        overflow: hidden;
    }

    &__item {
        display: none;
        min-width: 100%;
        height: inherit;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat; 

        &:nth-child(1) {
            background-image: url(../img/slide-img.png);
        }

        &:nth-child(2) {
            background-image: url(../img/slide-img2.jpg);
        }

        &:nth-child(3) {
            background-image: url(../img/slide-img3.jpg);
        }

        &--active {
            display: block;
        }
    }

    &__btn {
        position: absolute;
        width: 55px;
        height: 55px;
        border-radius: 5px;
        @include flex(center, center);
        background-color: $accent-color;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
        cursor: pointer;

        &--left {
            left: 0;
            margin-left: -25px;
        }

        &--right {
            right: 0;
            margin-right: -25px;
        }
    }

    &__arrow--left{
        border: 7px solid transparent; 
        border-right: 10px solid $white-color;
        margin-right: 7px;
    }
    &__arrow--right{
        border: 7px solid transparent; 
        border-left: 10px solid $white-color;
        margin-left: 7px;
    }
}

.block-name {
    display: block;
    text-transform: uppercase;
    line-height: 2.1rem;
    margin-bottom: 1.5rem;
    color: $description-txt-color;
}

.services__content, .features__content, .plan__content {
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services__content {
    align-items: flex-start;
}

.services__block {
    flex-basis: 30%;
    @extend %content__block;
}

.services__img {
    width: 65px;
    height: 65px;
    border: 1px solid $hr-color;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.8rem;
}

.services__title {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
}

.services__description {
    line-height: 2.8rem;
    margin-bottom: 3rem;

}

.learn-more {
    display: block;
    margin-bottom: 1rem;
}

.features__block {
    flex-basis: 55.5rem;
    height: 48rem;
    padding-bottom: 6rem;
    @extend %content__block;
    flex-direction: column;
    justify-content: flex-end;
    background-repeat: no-repeat;
    transition: all 1s ease;

    &:hover {
        transform: scale(1.05);
    }
}

.features__description {
    font-size: 3.6rem;
    line-height: 4.2rem;
    letter-spacing: 0.2px;
    color: $white-color;
}

.features__first {
    background-image: url('../img/features1.png');
}

.features__second {
    background-image: url('../img/features2.png');
}

.plan__block {
    padding: 3.5rem;
    padding-bottom: 5rem;
    margin-top: 4rem;
    flex-basis: 30%;
    text-align: center;
    background: $white-color;
    box-shadow: 0px 10px 35px rgba($black-color, 0.03);
    transition: all 0.2s;

    &:hover {
        box-shadow: 0px 10px 35px rgba($black-color, 0.1);
    }
}

.plan__title {
    font-size: 2.4rem;
    line-height: 3.2rem;
    letter-spacing: 0.2px;
    margin-bottom: 3rem;
}

.plan__price {
    font-size: 4rem;
    line-height: 5.2rem;
    letter-spacing: 0.2px;
    margin-bottom: 0.5rem;

    &--started {
        color: $inverse-color;
    }

    &--medium {
        color: $medium-plan-color;
    }

    &--advanced {
        color: $advanced-plan-color;
    }
}

.plan__period {
    display: block;
    color: $plan-description-color;
    margin-bottom: 3.5rem;
}

.plan__description {
    line-height: 2.8rem;
    margin-bottom: 5rem;
    color: $description-txt-color;
}

.plan__btn {
    @include btn($accent-color, $white-color, 20px, $accent-color);
    font-weight: 400;

    &:hover {
        @include btn($white-color, $accent-color, 20px, $accent-color);
        font-weight: 400;
    }
}

.started {
    border-top: 3px solid $inverse-color;
}

.medium {
    border-top: 3px solid $medium-plan-color;
}

.advanced {
    border-top: 3px solid $advanced-plan-color;
}

.ads {
    padding-top: 3rem;
    padding-bottom: 3rem;

    &__content {
        width: 100%;
        height: 38rem;
        padding: 9rem 2rem;
        border-radius: 16px;
        text-align: center;
        background-image: url('../img/ads-bg.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__title {
        color: $white-color;
        font-size: 4rem;
        letter-spacing: 0.2px;
        line-height: 5.2rem;
        font-weight: 400;
        margin-bottom: 2rem;
    }

    &__description {
        font-size: 1.8rem;
        color: rgba($white-color, 0.6);
        line-height: 3.2rem;
        margin-bottom: 4.8rem;
    }

    &__btn {
        @include btn($white-color, transparent, 20px, $white-color);
        font-weight: 400;
        margin-left: 2rem;

        &--accent {
            @include btn($secondary-txt-color, $white-color, 20px, $white-color);
            font-weight: 400;
        }
    }
}

.footer {
    background-color: $accent-color;
    padding-top: 9rem;
    padding-bottom: 7rem;
    color: $hr-color;
    text-align: center;

    &__content {
        justify-content: space-between;
        text-align: left;
    }

    &__nav {
        width: 195px;

        &:nth-child(2) {
            margin-left: auto;
        }
    }

    &__title {
        font-size: 1.7rem;
        font-weight: 400;
        line-height: 2.4rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-bottom: 3.8rem;
    }

    &__item + &__item {
        margin-top: 2rem;
    }

    &__link {
        font-size: 1.5rem;
    }
}

.about-us {
    width: 28.5rem;

    &__description {
        margin-top: 2.8rem;
        margin-bottom: 5.8rem;
        line-height: 2.8rem;
    }
}

.social__item {
    width: 38px;
    height: 38px;
    border-radius: 5px;
    background-color: $hr-color;
    @include flex(center, center);
    transition: all 0.3s ease;

    & + & {
        margin-left: 8px;
    }

    &:hover {
        background-color: $medium-plan-color;
    }
}

.contact-us {
    width: 220px;

    &__mail {
        display: block;
        color: $white-color;
        font-size: 2.5rem;
        margin-top: 2rem;
        margin-bottom: 2.8rem;
    }
}

.partners {
    align-items: center;
}

.gdpr {
    display: block;
    width: 106px;
    height: 41px;
    background-image: url('../img/gdpr.png');
}

.trustpilot {
    display: block;
    width: 100px;
    height: 25px;
    background-image: url('../img/trustpilot.svg');
    margin-left: 1rem;
}

.copyright {
    margin-top: 14rem;
    line-height: 2.8rem;
}


@import "media";