$white-color: #fff;
$black-color: #000;


$accent-color: #16133D;
$inverse-color: #007FFC;
$hr-color: #EFEEF3;
$description-txt-color: #7690A8;
$plan-description-color: #5A7184;
$medium-plan-color: #52C29D;
$advanced-plan-color: #F04D5D;